.footer {
  background-color: $color-black-blue;
}

.footer__wrapper {
  padding-top: 41px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 100px 1fr 98px;
  gap: 20px;

  @include vp-767 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.footer__logo {
  @include vp-1199 {
    padding-top: 5px;
  }

  @include vp-767 {
    padding-top: 0;
    position: absolute;
    top: 50px;
  }
}

.footer__logo svg {
  width: 88px;
  height: 32px;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

// .footer__nav {
//   @include vp-767 {
//     position: relative;
//     top: -40px;
//     margin-left: 0;
//   }
// }

.footer__nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 40px;

  @include vp-1199 {
    padding-top: 3px;
    max-width: 390px;
    gap: 30px;
  }

  @include vp-767 {
    padding-top: 0;
    margin-top: -9px;
    display: block;
    column-count: 2;
  }
}

.footer__nav li {
  @include vp-767 {
    padding-top: 15px;
  }
}

.footer__nav li:nth-child(-n+1) {
  @include vp-767 {
    margin-top: 40px;
  }
}

.footer__nav a {
  font-family: $ff-roboto-condensed;
  font-size: 14px;
  line-height: 16px;
  font-weight: $fw-regular;
  margin: 0;
  color: $color-default-white;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  @include vp-1199 {
    position: relative;
    top: 3px;
    right: -5px;
  }

  @include vp-767 {
    padding-top: 14px;
    justify-content: start;
    top: 0;
    right: 0;
  }
}
